.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 95%;
  padding: 20px 10px;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 5px;
}

.backbutton-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.todoitemlist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 99%;
  height: 30dvh;
  padding: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

.todoitem-main-wrapper {
  width: 100%;
}

.todomain-buttons-wrapper,
.todoadd-buttons-wrapper,
.tododetail-buttons-wrapper {
  width: 100%;
  margin-top: 10px;
}

.tododetail-buttons-wrapper > button {
  margin-bottom: 10px;
}
