.tabmenu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  column-gap: 10px;
}

.tabmenu {
  width: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 4px solid gray;
  color: gray;
}
